/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Red+Hat+Text:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

h1.ngde,
h2.ngde,
h3.ngde {
  font-weight: 600;
}

table.ngde > thead.ngde > tr > th,
table.ngde > tbody.ngde > tr > td {
  padding-left: 0;
  padding-right: 0;
}

table.ngde > thead.ngde > tr > th {
  background-color: unset;
  border-bottom: 1px solid var(--ng-doc-base-1);
}

.ng-doc-demo-container {
  font-family: 'Red Hat Text', sans-serif;
}

.ng-doc-root-wrapper .ng-doc-sidenav-wrapper > .ng-doc-sidenav + .ng-doc-sidenav-content {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
