<app-example-wrapper [hideControls]="true">
  <div class="container mx-auto p-6">
    <h1 class="mb-4 font-bold typography-headline-4">Personal information</h1>

    <form class="flex flex-col gap-6" [formGroup]="submitForm">
      <label class="flex flex-col gap-4">
        <span class="font-medium typography-label-sm">Username *</span>
        <sf-input formControlName="username" [required]="true" />
        <p
          *ngIf="submitForm.controls['username'].touched && submitForm.controls['username'].errors"
          class="font-medium text-negative-700 typography-text-sm"
        >
          The field cannot be empty
        </p>
      </label>

      <label class="flex flex-col gap-4">
        <span class="font-medium typography-label-sm">Email *</span>
        <sf-input formControlName="email" [required]="true">
          <sf-icon-email prefix />
        </sf-input>
        <p
          *ngIf="
            submitForm.controls['email'].touched &&
            submitForm.controls['email'].hasError('required')
          "
          class="font-medium text-negative-700 typography-text-sm"
        >
          The field cannot be empty
        </p>
        <p
          *ngIf="
            submitForm.controls['email'].touched && submitForm.controls['email'].hasError('email')
          "
          class="font-medium text-negative-700 typography-text-sm"
        >
          Your email is invalid form
        </p>
      </label>

      <label class="flex flex-col gap-4">
        <span class="font-medium typography-label-sm">Website</span>
        <sf-input formControlName="website">
          <span prefix>https://</span>
        </sf-input>
      </label>

      <label class="flex flex-col gap-4">
        <span class="font-medium typography-label-sm">Country</span>
        <sf-select formControlName="country" placeholder="Select from the list">
          <option *ngFor="let option of countryOptions" [value]="option.value">
            {{ option.label }}
          </option>
        </sf-select>
      </label>

      <label class="flex flex-col gap-4">
        <span class="font-medium typography-label-sm">Description</span>
        <textarea
          sf-textarea
          formControlName="description"
          placeholder="Write something about yourself..."
        ></textarea>
      </label>

      <label
        class="mb-4 mr-6 flex cursor-pointer items-start rounded first-of-type:mt-2 last-of-type:mb-6"
      >
        <sf-checkbox formControlName="acceptMe" />
        <span class="ml-2">
          <span class="font-body font-normal leading-6 typography-text-base">
            Please accept me
          </span>
          <span class="block typography-text-xs">This is the magical checkbox</span>
        </span>
      </label>

      <h1 class="font-bold typography-headline-4">Notifications</h1>

      <label class="mr-6 flex cursor-pointer items-center rounded">
        <sf-radio formControlName="notification" radioValue="everything" />
        <span class="font-body ml-2 text-base font-normal leading-6">Everything</span>
      </label>

      <label class="mr-6 flex cursor-pointer items-center rounded">
        <sf-radio formControlName="notification" radioValue="no-push" />
        <span class="font-body ml-2 text-base font-normal leading-6">No push notifications</span>
      </label>

      <button class="ml-auto w-fit" sf-button [disabled]="submitForm.invalid">Submit</button>
    </form>

    <div class="mx-auto mt-12 flex w-96 flex-col gap-4 rounded border-4 border-primary-700 p-4">
      <span class="font-bold"> Form Value </span>
      <pre>
        <code>
{{ submitForm.value | json }}
        </code>
      </pre>
    </div>
  </div>
</app-example-wrapper>
