<div class="e-page-controls">
  <div class="heading-wrapper">
    <h1 class="heading">Controls</h1>
  </div>
  <div class="table-wrapper">
    <table aria-label="Controls table">
      <thead class="table-heading">
        <tr>
          <th class="whitespace-nowrap">Prop Name</th>
          <th class="whitespace-nowrap">Value</th>
          <th class="whitespace-nowrap">Type</th>
          <th class="whitespace-nowrap">Default Value</th>
          <th class="whitespace-nowrap">Required</th>
          <th class="whitespace-nowrap">Description</th>
        </tr>
      </thead>
      <tbody>
        @for (control of controls; track $index) {
          <tr class="props">
            <td [ngClass]="{ 'align-middle': control.type === 'text' }">
              <span [id]="control.modelName">{{ control.modelName }}</span>
            </td>
            <td class="value">
              <ng-container [ngSwitch]="control.type">
                <select
                  *ngSwitchCase="'select'"
                  [ngModel]="state()[control.modelName]"
                  [attr.aria-labelledby]="control.modelName"
                  (ngModelChange)="handleControlChange($event, control.modelName)"
                >
                  <option *ngFor="let option of control.options" [value]="option">
                    {{ option }}
                  </option>
                </select>

                <div *ngSwitchCase="'boolean'" class="switch-wrapper">
                  <label class="switch">
                    <input
                      [ngModel]="state()[control.modelName]"
                      (ngModelChange)="handleControlChange($event, control.modelName)"
                      type="checkbox"
                      [attr.aria-labelledby]="control.modelName"
                    />
                    <span class="slider"></span>
                  </label>
                  <span class="ml-2">{{ state()[control.modelName] }}</span>
                </div>

                <textarea
                  *ngSwitchCase="'json'"
                  rows="10"
                  [ngModel]="stringifyValue(state()[control.modelName])"
                  [name]="control.modelName + ' ' + $index"
                  [attr.aria-labelledby]="control.modelName"
                  (ngModelChange)="handleControlChange($event, control.modelName)"
                >
                </textarea>

                <input
                  *ngSwitchCase="'range'"
                  [ngModel]="state()[control.modelName]"
                  (ngModelChange)="handleControlChange($event, control.modelName)"
                  class="rounded-md border"
                  type="range"
                  [name]="control.modelName + '-' + $index"
                  [attr.aria-labelledby]="control.modelName"
                  [attr.min]="control.rangeOption?.min"
                  [attr.max]="control.rangeOption?.max"
                  [attr.step]="control.rangeOption?.step"
                />

                <input
                  *ngSwitchCase="'text'"
                  [ngModel]="state()[control.modelName]"
                  (ngModelChange)="handleControlChange($event, control.modelName)"
                  class="rounded-md border"
                  [type]="control.type"
                  [name]="control.modelName + '-' + $index"
                  [attr.aria-labelledby]="control.modelName"
                />

                <input
                  *ngSwitchDefault
                  [ngModel]="state()[control.modelName]"
                  (ngModelChange)="handleControlChange($event, control.modelName)"
                  [type]="control.type"
                  [name]="control.modelName + '-' + $index"
                  [attr.aria-labelledby]="control.modelName"
                />
              </ng-container>
            </td>
            <td class="propType">
              <span>{{ control.propType }}</span>
            </td>
            <td class="propDefaultValue">{{ control.propDefaultValue }}</td>
            <td class="required">{{ control?.isRequired?.toString() }}</td>

            <td class="description">{{ control.description }}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
