<app-example-wrapper [controls]="controls" [state]="prepareControlsData.state">
  <label>
    <span
      class="font-body pb-1 text-sm font-medium"
      [ngClass]="{
        requiredClass: prepareControlsData.state().required,
        'cursor-not-allowed text-disabled-500': prepareControlsData.state().disabled
      }"
    >
      {{ prepareControlsData.state().label }}
    </span>
    <sf-select
      [formControl]="selectControl"
      [placeholder]="prepareControlsData.state().placeholder"
      [required]="prepareControlsData.state().required"
      [size]="prepareControlsData.state().size"
    >
      @for (option of prepareControlsData.state().options; track $index) {
        <option *ngFor="let option of prepareControlsData.state().options" [value]="option.value">
          {{ option.label }}
        </option>
      }
    </sf-select>
  </label>
</app-example-wrapper>
