<app-example-wrapper [controls]="controls" [state]="prepareControlsData.state">
  <label>
    <span
      class="font-medium typography-text-sm"
      [ngClass]="{
        'cursor-not-allowed text-disabled-500': prepareControlsData.state().disabled
      }"
    >
      {{ prepareControlsData.state().label }}
    </span>
    <textarea
      sf-textarea
      class="w-full read-only:!bg-disabled-100 read-only:!text-neutral-500 read-only:!ring-1 read-only:!ring-disabled-300 disabled:!bg-disabled-100 disabled:!text-disabled-500 disabled:!ring-1 disabled:!ring-disabled-300"
      [formControl]="textareaControl"
      [size]="prepareControlsData.state().size"
      [placeholder]="prepareControlsData.state().placeholder"
      [readOnly]="prepareControlsData.state().readonly"
    ></textarea>
  </label>
  <div class="flex justify-between">
    <div>
      @if (prepareControlsData.state().invalid && !prepareControlsData.state().disabled) {
        <p class="mt-0.5 font-medium text-negative-700 typography-text-sm">
          {{ prepareControlsData.state().errorText }}
        </p>
      }
      @if (prepareControlsData.state().helpText) {
        <p
          [ngClass]="[
            'mt-0.5 typography-text-xs',
            prepareControlsData.state().disabled ? 'text-disabled-500' : 'text-neutral-500'
          ]"
        >
          {{ prepareControlsData.state().helpText }}
        </p>
      }
      @if (prepareControlsData.state().requiredText && prepareControlsData.state().required) {
        <p class="mt-1 font-normal text-neutral-500 typography-text-sm before:content-['*']">
          {{ prepareControlsData.state().requiredText }}
        </p>
      }
    </div>
    @if (prepareControlsData.state().characterLimit && !prepareControlsData.state().readonly) {
      <p
        [ngClass]="[
          'mt-0.5 typography-text-xs',
          prepareControlsData.state().disabled
            ? 'text-disabled-500'
            : (characterLimitClass$ | async)
        ]"
      >
        {{ charsCount$ | async }}
      </p>
    }
  </div>

  <div class="flex gap-4 pt-4">Form value: {{ textareaControl.value }}</div>
</app-example-wrapper>
