<app-example-wrapper [controls]="controls" [state]="prepareControlsData.state">
  <label>
    <span
      class="typography-text-sm font-medium"
      [ngClass]="{
        'cursor-not-allowed text-disabled-500': prepareControlsData.state().disabled
      }"
    >
      {{ prepareControlsData.state().label }}
    </span>
    <textarea
      sf-textarea
      class="w-full"
      [size]="prepareControlsData.state().size"
      [placeholder]="prepareControlsData.state().placeholder"
      [disabled]="prepareControlsData.state().disabled"
      [ngModel]="prepareControlsData.state().value"
      [ngClass]="{
        '!bg-disabled-100 !ring-disabled-300 !ring-1 !text-disabled-500':
          prepareControlsData.state().disabled,
        '!bg-disabled-100 !ring-disabled-300 !ring-1 !text-neutral-500':
          prepareControlsData.state().readonly,
        'ng-dirty ng-invalid': prepareControlsData.state().invalid
      }"
      (ngModelChange)="handleValueChange($event)"
    ></textarea>
  </label>
  <div class="flex justify-between">
    <div>
      <p
        *ngIf="prepareControlsData.state().invalid && !prepareControlsData.state().disabled"
        class="typography-text-sm text-negative-700 font-medium mt-0.5"
      >
        {{ prepareControlsData.state().errorText }}
      </p>
      <p
        *ngIf="prepareControlsData.state().helpText"
        [ngClass]="[
          'typography-text-xs mt-0.5',
          prepareControlsData.state().disabled ? 'text-disabled-500' : 'text-neutral-500'
        ]"
      >
        {{ prepareControlsData.state().helpText }}
      </p>
      <p
        *ngIf="prepareControlsData.state().requiredText && prepareControlsData.state().required"
        class="mt-1 typography-text-sm font-normal text-neutral-500 before:content-['*']"
      >
        {{ prepareControlsData.state().requiredText }}
      </p>
    </div>
    <p
      *ngIf="prepareControlsData.state().characterLimit && !prepareControlsData.state().readonly"
      [ngClass]="[
        'typography-text-xs mt-0.5',
        prepareControlsData.state().disabled ? 'text-disabled-500' : characterLimitClass()
      ]"
    >
      {{ charsCount() }}
    </p>
  </div>
</app-example-wrapper>
