<app-example-wrapper [controls]="controls" [state]="prepareControlsData.state">
  <label>
    <span
      class="typography-text-sm font-medium"
      [ngClass]="{
        'cursor-not-allowed text-disabled-500': prepareControlsData.state().disabled
      }"
    >
      {{ prepareControlsData.state().label }}
    </span>
    <sf-input
      [size]="prepareControlsData.state().size"
      [placeholder]="prepareControlsData.state().placeholder"
      [formControl]="inputControl"
      [readOnly]="prepareControlsData.state().readonly"
      [wrapperClass]="[
        inputControl.disabled
          ? '!bg-disabled-100 !ring-disabled-300 !ring-1 !text-disabled-500'
          : '',
        prepareControlsData.state().readonly
          ? '!bg-disabled-100 !ring-disabled-300 !ring-1 !text-neutral-500'
          : ''
      ]"
    ></sf-input>
  </label>
  <div class="flex justify-between">
    <div>
      <p
        *ngIf="prepareControlsData.state().invalid && !prepareControlsData.state().disabled"
        class="typography-text-sm text-negative-700 font-medium mt-0.5"
      >
        {{ prepareControlsData.state().errorText }}
      </p>
      <p
        *ngIf="prepareControlsData.state().helpText"
        class="typography-text-xs mt-0.5"
        [ngClass]="[
          prepareControlsData.state().disabled ? 'text-disabled-500' : 'text-neutral-500'
        ]"
      >
        {{ prepareControlsData.state().helpText }}
      </p>
      <p
        *ngIf="prepareControlsData.state().requiredText && prepareControlsData.state().required"
        class="mt-1 typography-text-sm font-normal text-neutral-500 before:content-['*']"
      >
        {{ prepareControlsData.state().requiredText }}
      </p>
    </div>
    <p
      *ngIf="prepareControlsData.state().characterLimit && !prepareControlsData.state().readonly"
      class="typography-text-xs mt-0.5"
      [ngClass]="[
        prepareControlsData.state().disabled ? 'text-disabled-500' : characterLimitClass()
      ]"
    >
      {{ charsCount() }}
    </p>
  </div>
</app-example-wrapper>
