<div class="e-page-examples">
  <div class="sidebar">
    <header class="sidebar-heading">
      <h2>StorefrontUI v2</h2>
      <h3>Angular components</h3>
    </header>

    <ul class="sidebar-list flex flex-col">
      <ng-container
        *ngTemplateOutlet="sidebarItems; context: { items: components() }"
      ></ng-container>

      <li sf-list-item class="font-bold text-primary-700" [disabled]="true">Showcase</li>

      <ng-container
        *ngTemplateOutlet="sidebarItems; context: { items: showcases() }"
      ></ng-container>
    </ul>
  </div>

  <router-outlet />
</div>

<ng-template #sidebarItems let-items="items">
  <li
    *ngFor="let item of items"
    sf-list-item
    [routerLink]="[item.url]"
    [selected]="currentUrl() === item.url"
    class="pl-8 capitalize"
  >
    {{ item.name }}
  </li>
</ng-template>
