<app-example-wrapper [controls]="controls" [state]="prepareControlsData.state">
  <li
    sf-list-item
    class="max-w-sm"
    [size]="prepareControlsData.state().size"
    [disabled]="prepareControlsData.state().disabled"
    [selected]="prepareControlsData.state().selected"
    (click)="handleClick()"
    (keypress)="handleClick()"
  >
    <sf-icon-tune
      *ngIf="prepareControlsData.state().slotPrefix === 'Tune icon'"
      prefix
    ></sf-icon-tune>

    <span class="bread-words flex gap-2">
      {{ prepareControlsData.state().label }}
      <sf-counter
        *ngIf="prepareControlsData.state().counter"
        class="font-normal"
        [ngClass]="{ '!text-disabled-500': prepareControlsData.state().disabled }"
        [size]="prepareControlsData.state().size === 'sm' ? 'sm' : 'base'"
      >
        {{ prepareControlsData.state().counter }}
      </sf-counter>
    </span>

    <p
      class="text-xs font-normal break-words text-neutral-500"
      [ngClass]="{
        truncate: prepareControlsData.state().truncate,
        '!text-disabled-500': prepareControlsData.state().disabled
      }"
    >
      {{ prepareControlsData.state().secondaryText }}
    </p>

    <p *ngIf="prepareControlsData.state().slotSuffix" suffix>
      {{ prepareControlsData.state().slotSuffix }}
    </p>
  </li>
</app-example-wrapper>
